{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/navbar.html' %}
<html lang="en">
  <body class="bg-light"><br><br><br><br><br><br>
    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">TENDERS AND VACANCIES ADVERTS</h6>
        {% for item in items %}
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-grey-dark" style="font-size:14px;!important">{{item.title|upper}}</strong><br>
              <span style="color:#2980b9; font-size: 16px;">{{item.details|lower}} </span><br><br>
              <a class="btn btn-success text-center" href="{{item.pdf.url}}" target="_blank">Download the document here</a>
          </p>
        </div>
        {% endfor %}
        <small class="d-block text-right mt-3">
          <a href="#">View All</a>
        </small>
      </div>
    </main>
  </body>
{% endblock content %}
