{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/navbar.html' %}
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('../../static/assets/img/intro-carousel/1.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/2.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/3.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/4.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/5.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/6.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../../static/assets/img/intro-carousel/7.jpg');">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">some title</h2>
                <p class="animate__animated animate__fadeInUp">some litrature.</p>
                <!-- <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a> -->
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>
  <!-- End Intro Section -->

<!-- body section -->
<br><br><br>

<div class="row">
  <div class="col-md-6">
    <header class="section-header">
      <h3 class="section-title">BACKGROUND</h3>
    </header>
    <p style="padding: 20px;">The AICAD Kenya Country Office, which was established in the year 2000 is
       located in Utafiti Hall within Egerton University, Njoro.<br>
       The office is responsible for coordinating the institute's
          programs and activities dealing with poverty reduction in Kenya
         through human capacity development.<br> Funding and support for the office is channeled through
          AICAD Secretariat located in Juja.</p>
  </div>
  <div class="col-md-6">
    <header class="section-header">
      <h3 class="section-title">programs</h3>
    </header>
    <p style="padding: 20px;">
      In order to realize poverty reduction, the Kenya Country Office implements a number of programs associated with Research and Development, <br>
       Training and Extension and Information Network and Documentation. 
        The programs include Community Empowerment Program, Knowledge and Technology
         Dissemination Program, Training Program and Sharing of Knowledge and Experiences gained. 
          The Country Office implements its activities through collaboration with both government and
           private organsiations such as Universities, Research Institutions,
           Industries, NGOs, CBOs and Government Departments and Agencies.
    </p>
  </div>
</div>


<!-- body section -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              P.O. Box 114
              Egerton<br>
              NJORO
              <strong>Tel:</strong> +254 (51)-2217732, +254 726-830141<br>
              <strong>Location:</strong>Egerton University,<br> Njoro Campus.
              <strong>Email:</strong>aicadcountryoffice_kenya@yahoo.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'mainapp:about' %}">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Get our monthly newsletter right to you email</p>
            <form action="" method="post">
              <input type="email" name="email" placeholder="enter email address"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>2020</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->


  {% endblock content %}
